<div class="columns is-centered">
  <div class="column is-4">
    {{#if errors }}
    {{#each errors as |msg|}}
    <div class="notification is-danger is-light">
      <button class="delete"></button>
      {{msg}}
    </div>
    {{/each}}
    {{/if}}

    {{#if msg_success }}
    <div class="notification is-success is-light">
      <button class="delete"></button>
      {{msg_success}}
    </div>
    {{/if}}
  </div>
</div>