<div class='columns is-centered'>
  <div class='column is-12 is-centered' id='dashboard-main'>
    <h2>Welcome to the dashboard!</h2>
  </div>
</div>

<div class='columns is-centered'>
  <div class='column is-1' id='dashboard-b1'></div>
  <div class='column is-9' id='dashboard-b2'></div>
  <div class='column is-1' id='dashboard-b3'></div>
</div>

<div class='columns is-centered'>
  <div class='column is-1' id='dashboard0'></div>
  <div class='column is-3' id='dashboard1'>
    <p>First column</p>
    <P>Trail name by that specific user by filtering</P>
    <ul>
      {{#each hikes}}
        <li>{{this.description}}</li>
      {{/each}}
    </ul>
  </div>
  <div class='column is-3' id='dashboard1'>
    Second column
    <P>Hikes by that user</P>
  </div>
  <div class='column is-3' id='dashboard1'>
    Third column
    <p>Add buttons</p>
  </div>
  <div class='column is-1' id='dashboard2'></div>
</div>

<div class='columns is-centered'>
  <div class='column is-1' id='dashboard-b4'></div>
  <div class='column is-9' id='dashboard-b5'></div>
  <div class='column is-1' id='dashboard-b6'></div>
</div>