
<div class="columns">
<div class="column is-12">
  <div class="column is-6 is-centered">
    <h2>Welcome to the dashboard!</h2>
  </div>
</div>
</div>

<div class="columns">
  <div class="column is-3">
    <p>First column</p>
  </div>
  <div class="column is-3">
    Second column
  </div>
  <div class="column is-3">
    Third column
  </div>
</div>