<div class="columns is-centered">
  <div class="column is-12 is-centered" id="dashboard-main">
    <h2>Welcome to the dashboard!</h2>
  </div>
</div>

<div class="columns is-centered is-mobile">
  <div class="column is-1" id="dashboard-b1"></div>
  <div class="column is-9" id="dashboard-b2"></div>
  <div class="column is-1" id="dashboard-b3"></div>
</div>

<div class="columns is-centered is-mobile">
  <div class="column is-1" id="dashboard0"></div>
  <div class="column is-3" id="dashboard1">
    <p>First column</p>
  </div>
  <div class="column is-3" id="dashboard1">
    Second column
  </div>
  <div class="column is-3" id="dashboard1">
    <div class="column">
      <button id="newTrail" class="btn-no-style">New Trail</button>
    </div>
    <div class="column">
      <button id="newHike" class="btn-no-style">New Hike</button>
    </div>
  </div>
  <div class="column is-1" id="dashboard2"></div>
</div>

<div class="columns is-centered is-mobile">
  <div class="column is-1" id="dashboard-b4"></div>
  <div class="column is-9" id="dashboard-b5"></div>
  <div class="column is-1" id="dashboard-b6"></div>
</div>