<div class='columns is-centered'>
  <div class='column is-12 is-centered' id='dashboard-main'>
    <h2 class="has-text-centered">{{username}}, welcome to your dashboard!</h2>
  </div>
</div>

<div class='columns is-centered is-mobile'>
  <div class='column is-1' id='dashboard-b1'></div>
  <div class='column is-9' id='dashboard-b2'></div>
  <div class='column is-1' id='dashboard-b3'></div>
</div>

<div class='columns is-centered is-mobile'>
  <div class='column is-1' id='dashboard0'></div>
  <div class='column is-3' id='dashboard1'>
    <p class="mb-3"><strong>Hikes Completed</strong></p>
    {{#each hikes}}
    <div class="card mb-2">
      <div class='card-content p-3'>
        <a href='/dashboard/hike/{{this.id}}'>
          <p><strong>{{this.trail.name}}</strong></p>
          <small>{{this.trail.location}}</small>
        </a>
      </div>
    </div>
    {{/each}}
  </div>
  <div class='column is-3' id='dashboard1'>
    <div class="column is-centered">
      <p>Use Caution When Hiking!</p>
    </div>
    <div class="column">
      <span class="icon-text">
        <span class="icon">
          <i class="fas fa-water"></i>
        </span>
      </span>
      <span class="icon-text">
        <span class="icon">
          <i class="fas fa-restroom"></i>
        </span>
      </span>
      <span class="icon-text">
        <span class="icon">
          <i class="fas fa-mountain"></i>
        </span>
      </span>
    </div>
    <div class="column"></div>
    <div class="column is-centered">
      <span class="icon-text">
        <span class="icon">
          <i class="fas fa-cloud-sun"></i>
        </span>
      </span>
    </div>
    <div class="column">
      <span class="icon-text">
        <span class="icon">
          <i class="fas fa-fire"></i>
        </span>
      </span>
    </div>
    <div class="column">
      <span class="icon-text">
        <span class="icon">
          <i class="fas fa-binoculars"></i>
        </span>
      </span>
    </div>
  </div>
  <div class='column is-3' id='dashboard1'>
    <div class='column'>
      <a href='/trail/new' id='newTrail'>New Trail</a>
    </div>
    <div class='column'>
      <a href='/dashboard/hike/new' id='newHike'>New Hike</a>
    </div>
  </div>
  <div class='column is-1' id='dashboard2'></div>
</div>

<div class='columns is-centered is-mobile'>
  <div class='column is-1' id='dashboard-b4'></div>
  <div class='column is-9' id='dashboard-b5'></div>
  <div class='column is-1' id='dashboard-b6'></div>
</div>