<div class="columns is-centered">
  <div class="column is-4" id="idView">
    <h3>Trail Name: </h3>
    <p></p>
  </div>
</div>
<div class="columns is-centered">
  <div class="column is-4" id="idView">
    <h3>Hike Time: </h3>
    <p></p>
  </div>
</div>
<div class="columns is-centered">
  <div class="column is-4" id="idView">
    <h3>Description: </h3>
    <p></p>
  </div>
</div>
  {{!-- <div class="column">
    <button id="editHike" class="btn-no-style">Edit Hike</button>
  </div>
 --}}