<div class="columns">
  <div class="column is-3">
    <h3>Hike Name: </h3>
    <p></p>
  </div>
  <div class="column is-3">
    <h3>Trail Time: </h3>
    <p></p>
  </div>
  <div class="column is-3">
    <h3>Description: </h3>
    <p></p>
  </div>
    <div class="column is-3">
    <h3>Trail Name: </h3>
    <p></p>
  </div>

</div>