<div class="columns is-multiline is-centered" id="hpCard">
{{#each trails}}
  <div class="column is-3">
    <div class='card'>
      <header class='card-header'>
        <div class='card-header-title'>
          <a href='/trail/{{this.id}}'>
            <h2>{{this.name}}</h2>
          </a>
        </div>
      </header>
      <div class='card-content'>
        <div class='content'>
          <p>{{this.difficulty}}</p>
          <p>{{this.location}}</p>
        </div>
      </div>
    </div>
  </div>
{{/each}}
</div>