<div class="columns">
  <div class="column">
    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input class="input" type="email" placeholder="Email">
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left">
        <input class="input" type="password" placeholder="Password">
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>
  </div>

  <div class="column">
    <div class="field">
  <p class="control has-icons-left has-icons-right">
    <input class="input" type="email" placeholder="Email">
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
  </p>
</div>
<div class="field">
  <p class="control has-icons-left">
    <input class="input" type="password" placeholder="Password">
    <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
  </p>
</div>
  </div>
</div>





<div class="columns">
  <div class="column is-3">
    First column
  </div>
  <div class="column is-3">
    Second column
  </div>
  <div class="column is-3">
    Third column
  </div>
  <div class="column is-3">
    Fourth column
  </div>
  <div class="column is-3">
    Fourth column
  </div>
</div>





{{!--
<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Log In</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <input class="input is-rounded" type="text" placeholder="Email">
      <input class="input is-rounded" type="text" placeholder="Password">
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success">Log In</button>
      <button class="button">Cancel</button>
    </footer>
  </div>
</div>
<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Sign Up</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <input class="input is-rounded" type="text" placeholder="Email">
      <input class="input is-rounded" type="text" placeholder="Password">
      <input class="input is-rounded" type="text" placeholder="Repeat Password">
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success">Sign Up</button>
      <button class="button">Cancel</button>
    </footer>
  </div>
</div>
</div>
--}}

{{!--
<script src="./js/login.js"></script> --}}