  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="modal">
              <div class="modal-background"></div>
              <div class="modal-card">
                <header class="modal-card-head">
                  <p class="modal-card-title">Log In</p>
                  <button class="delete" aria-label="close"></button>
                </header>
                <section class="modal-card-body">
                  <input class="input is-rounded" type="text" placeholder="Email">
                  <input class="input is-rounded" type="text" placeholder="Password">
                </section>
                <footer class="modal-card-foot">
                  <button class="button is-success">Log In</button>
                  <button class="button">Cancel</button>
                </footer>
              </div>
            </div>
            <div class="modal">
              <div class="modal-background"></div>
              <div class="modal-card">
                <header class="modal-card-head">
                  <p class="modal-card-title">Sign Up</p>
                  <button class="delete" aria-label="close"></button>
                </header>
                <section class="modal-card-body">
                  <input class="input is-rounded" type="text" placeholder="Email">
                  <input class="input is-rounded" type="text" placeholder="Password">
                  <input class="input is-rounded" type="text" placeholder="Repeat Password">
                </section>
                <footer class="modal-card-foot">
                  <button class="button is-success">Sign Up</button>
                  <button class="button">Cancel</button>
                </footer>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>