{{> messages}}
<div class="columns is-centered">
  <div class="column is-4" id="login-page">
    <form class="form login-form" method="POST" action="/api/users/login">
      <div class="field">
        <p class="control">
          <input class="input is-rounded" type="email" placeholder="Email" id="email-login" name="email">
        </p>
      </div>
      <div class="field">
        <p class="control">
          <input class="input is-rounded" type="password" placeholder="Password" id="password-login" name="password">
        </p>
      </div>
      <div class="field">
        <p class="control">
          <button type="submit" class="button">Login</button>
        </p>
      </div>
    </form>
  </div>
</div>

<div class="columns is-centered">
  <div class="column is-4" id="login-page">
    <form class="form signup-form" method="POST" action="/api/users">
      <div class="field">
        <p class="control">
          <input class="input is-rounded" type="text" placeholder="Username" id="username-signup" name="username"
            value="{{username}}">
        </p>
      </div>
      <div class="field">
        <p class="control">
          <input class="input is-rounded" type="email" placeholder="Email" id="email-signup" name="email"
            value="{{email}}">
        </p>
      </div>
      <div class="field">
        <p class="control">
          <input class="input is-rounded" type="password" placeholder="Password" id="password-signup" name="password">
        </p>
      </div>
      <div class="field">
        <p class="control">
          <button type="submit" class="button">Sign Up</button>
        </p>
      </div>
    </form>
  </div>
</div>

<script src="/js/login.js"></script>