<div class="columns is-centered">
    <div class="column is-6">
        <h2 class="page-title">New Hike</h2>
        <form class="form new-hike-form">
            <div class="field">
                <label>Trail Selection</label>
                <div class="control">
                    <div class="select is-rounded">
                        <select id="trail-name">
                            <option value="" disabled selected>Select trail completed</option>
                            {{#each trails as |trail|}}
                            <option value="{{id}}">{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
            </div>
            <div class=" field">
                <label for="time">Hike Time</label>
                <input class="input is-info is-rounded" type="text" id="time" />
            </div>
            <div class="field">
                <label for="description">Description of Hike</label>
                <input class="input is-info is-rounded" type="text" id="description" />
            </div>
            <div class="field">
                <button class="btn btn-primary" type="submit">Submit!</button>
            </div>
        </form>
    </div>
</div>

<script src="/js/newHIke.js"></script>