<div class="columns">
    <div class="column">
        <h2 class="page-title">New Hike</h2>
        <form class="form">
            <div class="field">
                <label for="">Hike name</label>
                <input class="input" type="text" id="hikeName" />
            </div>
            <div class="field">
                <label for="">Hike Time</label>
                <input class="input" type="text" id="hikeTime" />
            </div>
            <div class="field">
                <label for="">Description of Hike</label>
                <input class="input" type="text" id="description" />
            </div>
            <div class="field">
                <label class="label">Trail Selection</label>
                <div class="select is-rounded">
                    <select>
                        <option></option>
                    </select>
                </div>
            </div>
            <div class="field">
                <button class="btn btn-primary" type="submit">Submit!</button>
            </div>
        </form>
    </div>
</div>