<div class="login-card">
    <h2 class="page-title">New Trail</h2>
    <form class="form login-form">
        <div class="field">
            <label for="">Trail Name</label>
            <input class="input" type="text" id="trailName" />
        </div>
        <div class="field">
            <label for="">Trail Length</label>
            <input class="input" type="text" id="trailLength" />
        </div>
        <div class="field">
            <label for="">Elevation</label>
            <input class="input" type="text" id="elevation" />
        </div>
        <div class="field">
            <label for="">Trailhead Location</label>
            <input class="input" type="text" id="location" />
        </div>
        <div class="field">
        <label class="label">Difficulty Level</label>
        <div class="select is-rounded">
            <select>
                <option>Easy</option>
                <option>Medium</option>
                <option>Hard</option>
            </select>
        </div>
        </div>
        <div class="field">
            <button class="btn btn-primary" type="submit">Submit!</button>
        </div>
    </form>
</div>