{{!-- New trail 

contains information, such as;

Name
Length
Elevation
Trailhead Location
Trail Peak/End Location --}}

<!-- Name
Length
Elevation
Trailhead Location
Trail Peak/End Location --}} -->

<div class="login-card">
    <h2 class="page-title">New Trail</h2>
    <form class="form login-form">
        <div class="form-group">
            <label for="email-login">Trail Name</label>
            <input class="form-input" type="text" id="email-login" />
        </div>
        <div class="form-group">
            <label for="email-login">Trail Length</label>
            <input class="form-input" type="text" id="email-login" />
        </div>
        <div class="form-group">
            <label for="email-login">Length</label>
            <input class="form-input" type="text" id="email-login" />
        </div>
        <div class="form-group">
            <label for="password-login">Elevation</label>
            <input class="form-input" type="password" id="password-login" />
        </div>
        <div class="form-group">
            <label for="password-login">Trailhead Location</label>
            <input class="form-input" type="password" id="password-login" />
        </div>
        <div class="form-group">
            <label for="password-login">Trail Peak</label>
            <input class="form-input" type="password" id="password-login" />
        </div>
        <div class="form-group">
            <label for="password-login">End Location</label>
            <input class="form-input" type="password" id="password-login" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Submit!</button>
        </div>
    </form>
</div>