<div class="columns is-centered">
    <div class="column is-6">
        <form class="form new-trail-form">
            <div class="field">
                <label for="form">Trail Name</label>
                <input class="input is-info is-rounded" type="text" id="trailName" />
            </div>
            <div class="field">
                <label for="label">Trailhead Location</label>
                <input class="input is-info is-rounded" type="text" id="location" />
            </div>
            <div class="field">
                <label for="label">Trail Length</label>
                <input class="input is-info is-rounded" type="text" id="trailLength" />
            </div>
            <div class="field">
                <label for="label">Elevation</label>
                <input class="input is-info is-rounded" type="text" id="elevation" />
            </div>
            <div class="field">
                <label class="label">Difficulty Level</label>
                <div class="select is-rounded">
                    <div class="control">
                        <select id="difficulty">
                            <option value="" disabled selected>Select difficulty rating</option>
                            <option>Easy</option>
                            <option>Medium</option>
                            <option>Hard</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="field">
                <button class="btn btn-primary" type="submit">Submit!</button>
            </div>
        </form>
    </div>
</div>

<script src="/js/newTrail.js"></script>