<div class="columns">
  <div class="column is-3">
    <h3>Trail Name: </h3>
    <p></p>
  </div>
  <div class="column is-3">
    <h3>Trail Length: </h3>
    <p></p>
  </div>
  <div class="column is-3">
    <h3>Trail Elevation: </h3>
    <p></p>
  </div>
    <div class="column is-3">
    <h3>Trailhead Location: </h3>
    <p></p>
  </div>
    <div class="column is-3">
    <h3>Difficulty Level: </h3>
    <p></p>
  </div>
</div>