
:root {
    --primary: #6495ED;
    --secondary: #006400;
    --tertiary: #228B22;
    --quatrinary: #8B4513;
    --light: #FFF5EE;
    --dark: #2F4F4F;
    --error: rgb(228, 46, 1);
    --border-radius: 0.3rem;
  }

  html {
    height: auto;
  }
  
  body {
    font-family: Arial;
    margin: 0;
    min-height: 100vh;
    justify-content: flex-start;
    background-image: linear-gradient(var(--primary), rgb(107, 47, 47), var(--secondary));
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  a {
    color: var(--dark);
    text-decoration: none;
  }
  
  a:visited {
    color: inherit;
  }
  
  header {
    padding: 40px;
    text-align: center;
    color: var(--light);
  }

  .card a {
    color: var(--dark);
  }

  #hpCard {
    padding: 40px;
  }

  #button {
      background-color: var(--dark);
      color: var(--light);
  }

  #sButton {
    background-color: var(--dark);
    color: var(--light);
}

#submit {
  background-color: var(--dark);
  color: var(--light);
}

#login-page {
  margin: 15px;
  border-color: var(--quatrinary);
  border-width: 10px;
  border-style: solid;
  border-radius: 25px;
  padding: .75rem;
  background-color: var(--quatrinary);
}

  nav {
    color: var(--light);
    display: flex;
  }
  
  nav a {
    color: var(--light);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    background-color: var(--dark);
  }
  
  nav a:hover {
    color: var(--secondary);
    background-color: var(--dark);
  }

  .btn-no-style {
    background-color: var(--dark);
    color: var(--light);
    border-width: 0px;
    border-style: none;
  }

  #dashboard-main {
    font-size: xx-large;
    font-weight: 400;
    color: var(--light);
  }

#dashboard0 {
  border-top: inset;
  border-color: var(--quatrinary);
  border-bottom: solid;
  border-top-width: 25px;
  border-bottom-width: 25px;
  border-bottom-color: var(--quatrinary);
  border-right: solid var(--quatrinary) 12.5px;
  height: 500px;
}

#dashboard1 {
  border-style: inset;
  border-color: var(--quatrinary);
  border-top-width: 25px;
  border-left-width: 12.5px;
  border-right-width: 12.5px;
  border-bottom-width: 25px;
  height: 500px;
  background-color: lightgoldenrodyellow;
  }

#dashboard2 {
  border-top: solid;
  border-color: var(--quatrinary);
  border-bottom: solid;
  border-bottom-width: 25px;
  height: 500px;
  border-top-width: 25px;
  border-left: solid var(--quatrinary);
  border-left-width: 12.5px;
  border-bottom-color: var(--quatrinary);
}

#dashboard-b1 {
  padding: 12px;
  height: 50px;
  border-right: solid var(--quatrinary) 12.5px;
}

#dashboard-b2 {
  border-right-style: solid;
  border-color: var(--quatrinary);
  border-left-style: solid;
  border-right-width: 12.5px;
  border-left-width: 12.5px;
  padding: 12px;
  height: 50px;
}

#dashboard-b3 {
  padding: 12px;
  height: 50px;
  border-left: solid var(--quatrinary) 12.5px;
}

#dashboard-b4 {
  padding: 12px;
  height: 50px;
  border-right: solid var(--quatrinary) 12.5px;
}

#dashboard-b5 {
  border-right-style: solid;
  border-color: var(--quatrinary);
  border-left-style: solid;
  border-right-width: 12.5px;
  border-left-width: 12.5px;
  padding: 12px;
  height: 50px;
}

#dashboard-b6 {
  padding: 12px;
  height: 50px;
  border-left: solid var(--quatrinary) 12.5px;
}

label {
  color: var(--light);
}

#idView {
  background-color: var(--quatrinary);
  color: var(--light);
}

#newHike {
  padding: 5px;
  background-color: var(--dark);
  color: var(--light);
}

#newTrail {
  padding: 5px;
  background-color: var(--dark);
  color: var(--light);
}

#typeColor {
  color: var(--light);
  font-weight: 400;
}

.icon {
  font-weight: 900;
}