
:root {
    --primary: #6495ED;
    --secondary: #006400;
    --tertiary: #228B22;
    --quatrinary: #8B4513;
    --light: #FFF5EE;
    --dark: #2F4F4F;
    --error: rgb(228, 46, 1);
    --border-radius: 0.3rem;
  }
  
  body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-image: linear-gradient(var(--primary), var(--secondary));

  }
  
  a {
    color: var(--dark);
    text-decoration: none;
  }
  
  a:visited {
    color: inherit;
  }
  
  header {
    padding: 40px;
    text-align: center;
    color: var(--light);
  }

  #button {
      background-color: var(--dark);
      color: var(--light);
  }

#login-page {
  margin: 15px;
  border-color: var(--quatrinary);
  border-width: 10px;
  border-style: solid;
  border-radius: 25px;
  padding: .75rem;
  background-color: var(--quatrinary);
}

  nav {
    color: var(--light);
    display: flex;
  }
  
  nav a {
    color: var(--light);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    background-color: var(--dark);
  }
  
  nav a:hover {
    color: var(--secondary);
    background-color: var(--dark);
  }

  .btn-no-style {
    background-color: var(--dark);
    color: var(--light);
  }

  #dashboard-main {
    font-size: xx-large;
    font-weight: 400;
    color: var(--light);
  }

#dashboard0 {
  border-top: solid;
  border-color: var(--quatrinary);
  border-bottom: solid;
  border-top-width: 25px;
  border-right-width: 12.5px;
  border-bottom-width: 25px;
  border-bottom-color: var(--quatrinary);
  height: 500px;
}

#dashboard1 {
  border-style: inset;
  border-color: var(--quatrinary);
  border-top-width: 25px;
  border-left-width: 12.5px;
  border-right-width: 12.5px;
  border-bottom-width: 25px;
  height: 500px;
  background-color: lightgoldenrodyellow;
  }

#dashboard2 {
  border-top: solid;
  border-color: var(--quatrinary);
  border-bottom: solid;
  border-bottom-width: 25px;
  height: 500px;
  border-top-width: 25px;
  border-left-width: 12.5px;
  border-bottom-color: var(--quatrinary);
}

#dashboard-b1 {
  padding: 12px;
  height: 50px;
}

#dashboard-b2 {
  border-right-style: solid;
  border-color: var(--quatrinary);
  border-left-style: solid;
  border-right-width: 12.5px;
  border-left-width: 12.5px;
  padding: 12px;
  height: 50px;
}

#dashboard-b3 {
  padding: 12px;
  height: 50px;
}

#dashboard-b4 {
  padding: 12px;
  height: 50px;
}

#dashboard-b5 {
  border-right-style: solid;
  border-color: var(--quatrinary);
  border-left-style: solid;
  border-right-width: 12.5px;
  border-left-width: 12.5px;
  padding: 12px;
  height: 50px;
}

#dashboard-b6 {
  padding: 12px;
  height: 50px;
}


  /* CARDS */

  /*
  .card {
    margin: 20px;
    flex: 0 1 300px;
    border: 7px double var(--dark);
    border-radius: 10px;
    background-color: var(--light);
    color: var(--dark);
  }
  
  .login-card {
    border: 3px solid var(--dark);
    border-radius: var(--border-radius);
    border-style: double;
    border-width: thick;
    background-color: #577a7c;
    color: var(--light);
  }
  
  .card header {
    color: var(--light);
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    background-color: var(--tertiary);
    padding: 0.625rem;
    border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
  }
  
  .card-body {
    font-size: 1.4rem;
    text-align: center;
    font-weight: bold;
  }
  
  .gallery-name {
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 2px 2px 5px var(--secondary);
    border: 10px groove var(--light);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 100px;
    padding-left: 100px;
  }
  

   